<div class='box box-solid'>

  <div class='box-body'>
    <%= link_to '<i class="fa fa-plus"></i> add park'.html_safe, new_park_path, class: 'btn btn-app' %>
    <hr>

    <div class="box box-solid">
      <div class="col-md-10 col-md-offset-1">
        <div class="box-header with-border bg-blue">
          <h3>Your parks</h3>
        </div>
        <div class="box-body">
          <p>It seems that you have no parks :c... yet</p>
        </div>
      </div>
    </div>

    <div class="box box-solid">
      <div class="col-md-10 col-md-offset-1">
        <div class="box-header with-border bg-blue">
          <h3>Other parks</h3>
        </div>
        <div class="box-body">
          <% if !@parks.blank? %>              
            <% @parks.each do |park| %>
              <div class="box box-solid with-border">
                <div class="col-md-3 ">
                  <div class="box-header with-border bg-olive">
                    <%= park.name %>
                  </div>
                  <div class="box-body">
                    <p>
                      <%= park.ubication %>
                    </p>
                  </div>
                </div>
              </div>
            <% end %>
          <%else%>
            <%= link_to '<i class="fa fa-plus"></i> add park'.html_safe, new_community_path, class: 'btn btn-app' %>
          <% end %>  
        </div>
      </div>
    </div>

  </div>

</div>